import(ggplot2)
importFrom(magrittr, "%>%")
importFrom(knitr, knit2pdf)
importFrom(graphics, plot)
importFrom(grDevices, graphics.off)
importFrom(grDevices, png)
importFrom(stats, pnbinom)
importFrom(stats, quantile)
importFrom(stats, rbinom)
importFrom(stats, runif)
importFrom(stats, update)
importFrom(stats, weighted.mean)
importFrom(utils, setTxtProgressBar)
importFrom(utils, txtProgressBar)
importFrom(utils, tail)

export(prevalence)
export(random_baseline_man)
export(random_baseline_pig)
export(slaughter_nbinom)
export(slaughter_binom)
export(initiate)
export(do_man_mda)
export(do_pig_mda)
export(do_pig_vac)
export(do_pig_mda_vac)
export(fit)
export(cystiSim)
export(report)
export(elim)

S3method(update, cystiRun)
S3method(print, cystiRun)
S3method(plot, cystiRun)

S3method(print, cystiSim)
S3method(summary, cystiSim)
S3method(plot, cystiSim)
S3method(report, cystiSim)
S3method(elim, cystiSim)
